.sidebar{
    display: flex;
    flex-direction: column;
    width: 50px;
    position: sticky;
    left: 0;
    top: 0;
    height: 98%;
    box-shadow: 2px 2px 2px #888888;
    align-items: center;
    padding: 10px;
}
.bar{
    display: flex;
    flex-direction: column;
    align-items: center;
}
a i{
    color: #7b7b7b;
}
.image{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
}
.image img{
    width: 35px;
    height: 35px;
}

.search a{
   font-size: 1.5rem;
}

.search{
    border-bottom: 1px solid #d5d5d5;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.icons{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 350px;
}
.icons a{
    font-size: 1.5rem;
    margin-top: 15px;
}

.notifications{
    display: flex;
    flex-direction: column;
    width: 50px;
    align-items: center;
    border-top: 1px solid #d5d5d5;
}
.notifications a{
    font-size: 1.5rem;
    margin-top: 15px; 
}

.sidebar .user{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;

    bottom: 0;
    left: 0;
    background-color: #d5d5d5;
    color: white;
    margin-top: 50px;
    font-size: 1.5rem;
    width: 70px;
    height: 10%;
}
.user a i{
    color: white;
    z-index: 1;
}

.expandedbar{
    width: 200px;
    box-shadow: 2px 2px 2px #888888;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.expandedbar .image{
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    justify-content: flex-start;
}

.expandedbar .image i{
    position: absolute;
    right: 10px;
    color: #888;
    font-size: 1.1rem;
    cursor: pointer;
}
.expandedbar .image i:hover{
    color: #000;
}
.expandedbar .search{
    position: relative;
    align-items: center;
    padding: 0;
    width: 100%;
}

.expandedbar .search input {
    padding: 10px 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.expandedbar .search input::placeholder{
    text-indent: 20px; 
}

.expandedbar .search i {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    color: #888;
}
.expicons{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 350px;
    margin-left: 15px;
}
.expicons .section{
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    color: #888;
    font-size: 1.1rem;
    cursor: pointer;
}
.expicons .section i{
    font-size: 1.5rem;
    color: #888;
    margin-right: 10px;
}
.expicons .section:hover{
    color: black;
}

.expandedbar .notifications{
    width: 100%;
}

.expandedbar .notifications i{
    font-size: 1.5rem;
    color: #888;
    margin-right: 10px;
    margin-left: 15px;
}
.expandedbar .notifications .section{
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    color: #888;
    font-size: 1.1rem;
    cursor: pointer;
}
.expandedbar .notifications .section:hover{
    color: #000;
}
.expandedbar .user{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    bottom: 0;
    left: 0;
    background-color: #d5d5d5;
    color: white;
    margin-top: 50px;
    font-size: 1.5rem;
    width: 100%;
    height: 86px;
    color: black;
    cursor: pointer;
}
.expandedbar .user .section{
    margin-left: 15px;
}
.expandedbar .user .section:hover{
    color: white;
}
.expandedbar .user .section i{
    margin-right: 10px;
}