<div class="users">
    a
    <div class="top">
        <div class="title">
            <h4>Users</h4>
            <p>A list of all the users in your account including their name, title, email and role</p>
        </div>
        <div class="button">
            <button>Add user</button>
        </div>
    </div>
    <div class="table">
    <table>
        <thead>
          <tr>
            <th *ngFor="let key of keys">{{ key }}</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users; let i = index">
            <td class="name">{{ user.name }}</td>
            <td class="other">{{ user.title }}</td>
            <td class="other">{{ user.email }}</td>
            <td class="other">{{ user.role }}</td>
            <td *ngIf="isEditable[i];else noteditable"><a href="">Edit</a></td>
          </tr>
        </tbody>
    </table>
    </div>
    <ng-template #noteditable>
        <td>Can't edit</td>
    </ng-template>
</div>


