.model{
    background-color: white;
    width: 30%;
    height: fit-content;
    margin-top: 50px;
    border-radius: 10px;
    margin: 20px;
}
.title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #F5F5F5;
    padding: 20px;
    border-radius: 10px;
}
.movies{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 20px;
    height: fit-content;
    justify-content: flex-start;
    align-items: start;
}

.banner{
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: 100%;
    margin-right: 5px;
}
.image{
    width: 100%;
    height: 100%;
}
img{
    width: 100%;
    height: 250px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
.stars{
    width: fit-content;
    height: fit-content;
    color: rgb(197, 197, 4);
}
h5{
    margin: 0;
}
.notinterested{
    width: fit-content;
    height: fit-content;
    padding: 5px;
    background-color: rgb(5, 5, 86);
    color: #b9b9b9;
    border-radius: 5px;
    margin-top: 5px;    
    font-size: 0.8rem;
    overflow: hidden;
    white-space: nowrap;
    transition: width 0.4s ease-in-out, padding 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.notinterested:hover {
    width: 140px;  
    padding: 5px 15px;
    background-color: rgb(2, 2, 60);
}

.notinterested i {
    transition: transform 0.3s ease-in-out;
}

.notinterested:hover i {
    transform: rotate(10deg);  
}


span{
    font-size: 0.8rem;
    color: #D3D3D3;
}

.no-movies{
    font-size: 1rem;
    display: flex;
    align-items: center;
}

.no-movies .bi{
    font-size: 2rem;
    color: red;
    margin-right: 5px;
}